<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form method="post" action="/new">
            <input type="text" name="user" placeholder="Name"/>
            <input type="text" name="messText" placeholder="Enter Message"/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>