<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% messages.forEach(function(message){%>
    <ul = class="messageBox">
     
        <li class="text">
          <%= message.text %>
        </li>
        <li class="user">
          <%= message.user %>
        </li>
        <li class="date">
          <%= message.added %>
        </li>
        
        
    </ul>
    <% }) %>
    <a href="http://localhost:3000/new">New Message</a>
  </body>
</html>
